body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: #5c5470;
  font-size: 24px;
  font-weight: 600;
  line-heigh: 28px;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

li {
  color: #5c5470;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.btn-primary {
  background-color: #5a6aca;
  border: none;
  opacity: 0.9;
}

.btn-primary:hover {
  background-color: #ffff;
  color: #5a6aca;
  border: 1px solid #5a6aca;
  opacity: 0.9;
}

.overview {
  margin-bottom: 20px;
}

.c-units,
.f-units {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  border: 1px solid #5a6aca;
  border-radius: 8px;
  padding: 60px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
